/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.idea
/.gitattributes
/.vagrant

/public/var

/public/vendor

!/public/composer.json
!/public/composer.lock
!/public/README.md